<div>

  <div>
    <title>Open Source!</title>
    <header>Welcome to Open Source!</header>
  </div>

  <div>
    <button routerLink="/login">Login</button>
    <br>
    <input type="email" placeholder="Type your email here">
    <input type="password" placeholder="Type your password here">
  </div>

  <div>
    <button routerLink="/create-account">Create Account</button>
  </div>

  <div>
    <button routerLink="/recover-account">Recover Account</button>
  </div>
  
  <router-outlet></router-outlet>
</div>