<button mat-button routerLink="/home" routerLinkActive="active">
  Dashboard
</button>
<button mat-button routerLink="/devs" routerLinkActive="active">Devs</button>
<button mat-button routerLink="/project" routerLinkActive="active">
  Projects
</button>

<body>
  <div class="card">
    <div class="logo-div">
      <img class="logo shadowed" src="../assets/pic.jpg" />
    </div>
    <div class="title">Kun Kang</div>
    <div class="subtitle">Student</div>
    <button class="find-more-btn shadowed">Find out more</button>
  </div>
</body>

<body>
  <div class="card">
    <div class="logo-div">
      <img class="logo shadowed" src="../assets/pic.jpg" />
    </div>
    <div class="title">Sean Ebenmelu</div>
    <div class="subtitle">Student</div>
    <button class="find-more-btn shadowed">Find out more</button>
  </div>
</body>

<body>
  <div class="card">
    <div class="logo-div">
      <img class="logo shadowed" src="../assets/pic.jpg" />
    </div>
    <div class="title">Ifeanyichukwu Onyeanakwe</div>
    <div class="subtitle">Student</div>
    <button class="find-more-btn shadowed">Find out more</button>
  </div>
</body>
