<nav class="navbar navbar-dark bg-light justify-content-end">
  <button mat-button routerLink="/home" routerLinkActive="active">
    Dashboard
  </button>
  <button mat-button routerLink="/devs" routerLinkActive="active">Devs</button>
  <button mat-button routerLink="/projects" routerLinkActive="active">
    Posts
  </button>
</nav>

<div class="container">
  <div class="row gap-4">
    <div class="card g-col-6" style="width: 18em">
      <img class="logo shadowed" src="../assets/pic.jpg" />
      <div class="card-body">
        <div class="card-title">Kun Kang</div>
        <div class="subtitle">Student</div>
        <button class="btn btn-dark">Find out more</button>
      </div>
    </div>
    <div class="card g-col-6" style="width: 18em">
      <img class="logo shadowed" src="../assets/pic.jpg" />
      <div class="card-body">
        <div class="card-title">Ifeanyi Onyeanakwe</div>
        <div class="subtitle">Student</div>
        <button class="btn btn-dark">Find out more</button>
      </div>
    </div>
    <div class="card g-col-6" style="width: 18em">
      <img class="logo shadowed" src="../assets/pic.jpg" />
      <div class="card-body">
        <div class="card-title">Sean Ebenmelu</div>
        <div class="subtitle">Student</div>
        <button class="btn btn-dark">Find out more</button>
      </div>
    </div>
  </div>
</div>
