<nav>
  <button mat-button routerLink="/home" routerLinkActive="active">
    Dashboard
  </button>
  <button mat-button routerLink="/devs" routerLinkActive="active">Devs</button>
  <button mat-button routerLink="/projects" routerLinkActive="active">
    Projects
  </button>
</nav>

Welcome...

<button class="btn btn-dark" routerLink="/account" routerLinkActive="active">
  Settings
</button>

<p>
  <app-project_list
    [projTitle]="projTitle"
    [projDesc]="projDesc"
  ></app-project_list>
</p>
