<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title (change)="enterProjName(projName)">
                Project Name: {{projName}}
            </mat-panel-title>
            <mat-panel-description>
                Click to {{panelOpenState ? 'see less' : 'learn more'}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p (change)="enterProjDesc(projDesc)">Project Description: {{projDesc}}</p>
        <p (change)="enterProgLang(progLang)">Program Language: {{progLang}}</p>
        <p (change)="enterSpecInstr(specInstr)">Special Instructions: {{specInstr}}</p>
    </mat-expansion-panel>
</mat-accordion>